.h1,
.h2,
h1,
h2 {
	margin: 0 0 17.5px;
	font-family: var(--font-stack-header);
	font-style: var(--font-style-header);
	font-weight: var(--font-weight-header);
	line-height: 1.2;
	overflow-wrap: break-word;
	word-wrap: break-word
}

.h1 a,
.h2 a,
h1 a,
h2 a {
	color: inherit;
	text-decoration: none;
	font-weight: inherit
}

.h1,
h1 {
	font-size: calc(((var(--font-h1-desktop))/ (var(--font-size-base))) * 1em);
	text-transform: none;
	letter-spacing: 0
}

@media only screen and (max-width:749px) {

	.h1,
	h1 {
		font-size: calc(((var(--font-h1-mobile))/ (var(--font-size-base))) * 1em)
	}
}

.h2,
h2 {
	font-size: calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1em);
	text-transform: uppercase;
	letter-spacing: .1em
}

@media only screen and (max-width:749px) {

	.h2,
	h2 {
		font-size: calc(((var(--font-h2-mobile))/ (var(--font-size-base))) * 1em)
	}
}

p {
	color: var(--color-body-text);
	margin: 0 0 19.44444px
}

@media only screen and (max-width:749px) {
	p {
		font-size: calc(((var(--font-size-base) - 1)/ (var(--font-size-base))) * 1em)
	}
}